h1 {
    color: white;
    font-size: 2em; 
    text-align: center;
}

body {
	height: 100vh;
	max-width: 800px;
	min-width: 300px;
	margin: 0 auto;
	font-family: sans-serif;
    color: white;
    text-align: left;
	background-color: black;
}


fieldset {
	border: none; 
}

p {
	color: white;
	font-weight: bold; 
	text-align: left;
	margin: 3vh auto;
}

label {
  display: block;
  margin: 0.5rem 0;
}


.booxx {
  width: 80%;
  background-color: #4d0f28;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 800px;
}

button {
	color: white;
	background-color: #4d0f28;
	margin-top: 2em;
}

.field {
	margin-bottom: 1em;
}


#cb {
	margin-bottom: 0.8em;

}

#description {
	
}